@import "fonts";

$turquoise: #1abc9c;
$belize: #2980b9;
$amethyst: #9b59b6;
$sun-flower: #f1c40f;
$alizarin: #e74c3c;

.turquoise {
  background: $turquoise;
}

.turquoise-border {
  border: 1px solid $turquoise;
}

.belize {
  background: $belize;
}

.belize-border {
  border: 1px solid $belize;
}

.amethyst {
  background: $amethyst;
}

.amethyst-border {
  border: 1px solid $amethyst;
}

.sun-flower {
  background: $sun-flower;
}

.sun-flower-border {
  border: 1px solid $sun-flower;
}

.alizarin {
  background: $alizarin;
}

.alizarin-border {
  border: 1px solid $alizarin;
}

body {
  font-family: "Brandon Text", sans-serif;
}

.sidebar {
  background: rgba(15, 35, 46, 0.85);
  height: 1000px;
  padding:0 45px;
}

.content {
  height: 1000px;
}

.calendar-box {

}

.calendar {
  > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .sidebar {
    color: #F4F6F8;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    width: 335px;

    a {
      color:#F4F6F8;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }

    .heading {
      padding: 25px 0;
      text-align: center;
      h3 {
        margin: 0;
      }
    }

    .calendar-box {
      margin-bottom:35px;
      .week-row {
        font-size:12px;
        margin-right: -10px;
        margin-left: -10px;

        &.week-heading {
          .day {font-weight: bold;}

          .separator {
            border-bottom: 1px solid #ddd;
            width: 245px;
            margin: 0 auto;
            display: none;
          }
        }
        .day {
          display: inline-block;
          width: 35px;
          height: 35px;
          padding: 8px 0 0px 12px;
          color: rgba(255,255,255,0.9);

          &.past-month-day {
            color:rgba(255,255,255,0.5);
          }

          &.today {
            background: rgb(62, 79, 88);
            border-radius: 9999em;
          }
        }

      }

    }

    .clients {
      .clients-heading {
        border: none;
        font-size: 12px;
        color: rgba(255,255,255,0.6);
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
      }
      text-align: left;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          margin: 15px 0;
        }
      }
      .active-indicator {
        width: 15px;
        height: 15px;
        border-radius: 999em;
        display: inline-block;
        position: relative;
        top: 2px;
        margin-right: 10px;

        &.inactive {
          background: none;
        }
      }
    }
  }
  .content {
    background:#EDEFF1;
  }
}