@import "fonts";

$turquoise: #1abc9c;
$belize: #2980b9;
$amethyst: #9b59b6;
$sun-flower: #f1c40f;
$alizarin: #e74c3c;

.turquoise {
  background: $turquoise;
}

.turquoise-border {
  border: 1px solid $turquoise;
}

.belize {
  background: $belize;
}

.belize-border {
  border: 1px solid $belize;
}

.amethyst {
  background: $amethyst;
}

.amethyst-border {
  border: 1px solid $amethyst;
}

.sun-flower {
  background: $sun-flower;
}

.sun-flower-border {
  border: 1px solid $sun-flower;
}

.alizarin {
  background: $alizarin;
}

.alizarin-border {
  border: 1px solid $alizarin;
}

body {
  font-family: "Brandon Text", sans-serif;
  color:#444;
}

.sidebar {
  background: rgba(15, 35, 46, 0.85);
  height: 1000px;
  padding:0 45px;
}

.content {
  height: 1000px;
}

.calendar-box {

}

// global

a {
  &:hover {
    cursor: pointer;
  }
  color:#444;
}

.calendar {
  > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .sidebar {
    color: #F4F6F8;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

    a {
      color:#F4F6F8;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }

    .heading {
      padding: 25px 0;
      text-align: center;
      .month-navigation {
        position: relative;
        top:-20px;
        a {
          padding: 5px;
          line-height: 1;
          position: absolute;
          display: block;
          width: 25px;
          height: 25px;
        }
      }
      .prev-month {
        left:-5px;
        top:0;
      }
      .next-month {
        right:-5px;
        top:0;
      }
      h3 {
        margin: 0;
      }
    }

    .calendar-box {
      margin-bottom:35px;
      .week-row {
        font-size:12px;
        margin-right: -10px;
        margin-left: -10px;

        &.week-heading {
          .day {font-weight: bold;}

          .separator {
            border-bottom: 1px solid #ddd;
            width: 245px;
            margin: 0 auto;
            display: none;
          }
        }
        .day {
          display: inline-block;
          width: 35px;
          height: 35px;
          padding: 8px 0 0px 12px;
          color: rgba(255,255,255,0.9);

          &.past-month-day {
            color:rgba(255,255,255,0.5);
          }

          &.today {
            background: rgb(62, 79, 88);
            border-radius: 9999em;
          }
        }

      }

    }

    .clients {
      .clients-heading {
        border: none;
        font-size: 12px;
        color: rgba(255,255,255,0.6);
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
      }
      text-align: left;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          margin: 15px 0;
        }
      }
      .active-indicator {
        width: 15px;
        height: 15px;
        border-radius: 999em;
        display: inline-block;
        position: relative;
        top: 2px;
        margin-right: 10px;

        &.inactive {
          background: none;
        }
      }
    }
  }
  .content {
    background:#EDEFF1;
    padding: 0;

    .content-header {
      border-bottom: 1px solid #ddd;
      width: 100%;
      background: #fff;
      margin-right: 0;
      margin-left: 0;

      .period {
        text-align: center;
        h3 {
          padding: 25px 0;
          margin: 0;
        }

        .controls {
          position: relative;
          top:-45px;
          a {
            padding: 5px;
            line-height: 1;
            position: absolute;
            display: block;
            width: 25px;
            height: 25px;
            top:0;
            color:#444;
          }
          .next-period {
            right:0;
          }
          .prev-period {
            left:0;
          }
        }
      }

      .header-col {
        height: 85px;
        &:last-child {
          border-right: none;
        }
      }

      .view-options-header-col {
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        padding: 25px 15px;
        width: 70%;
      }

      .search-header-col {
        width: 5%;
      }

      .view-options {
        .form-control {
          margin-left: 10px;
        }

        .form-group {
          margin-bottom: 0;
        }
      }

      .search-button {
        display: block;
        font-size:16px;
        padding-top: 32px;
        text-align: center;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .days {
      height:1000px;
      .day {

        &:first-child {
          border-left:0;
        }

        background: #FBFCFC; /* Old browsers */

        -webkit-transition: background 200ms;
        -moz-transition: background 200ms;
        -ms-transition: background 200ms;
        -o-transition: background 200ms;
        transition: background 200ms;

        &:hover {
          background: #fff;
        }

        width: 14.2%;
        border-left: 1px solid #ddd;
        height:1000px;
      }
    }
  }
}